.container{
    background-color: lightgrey;
    margin: 1%;
    padding: 10px;
    box-sizing: border-box;
}

@media all and (max-width: 600px) {
    .container {
        background-color: aliceblue;
    }
}

@media all and (min-width: 601px) and (max-width: 800px) {
    .container{
        background-color: lightcoral;
        width: 48%;
        float: left;
    }
}

@media all and (min-width: 801px) {
    .container{ 
        background-color: lightgreen;
        width: 31%;
        float: left;
    }
}

@media print { /* When print the doc it shows normal white and black layout */
    .container{
        background-color: white;
    }
}