@font-face{
    font-family: "ProtestGuerrilla-Regular";
    /* src: url(Font\ folder/ProtestGuerrilla-Regular.ttf); */
    src: url(ProtestGuerrilla-Regular.ttf);
}

.parents h1{
    font-family: "ProtestGuerrilla-Regular";
}